version: 2.1
orbs:
  architect: giantswarm/architect@6.9.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-to-control-plane-app-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: cluster-api-provider-cloud-director
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/

          branches:
            ignore:
            - main
            - master
    - architect/push-to-app-collection:
        name: cloud-director-app-collection
        context: architect
        app_name: cluster-api-provider-cloud-director
        app_collection_repo: cloud-director-app-collection
        requires:
        - push-to-control-plane-app-catalog
          # Trigger job on git tag.
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/
