apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: '{{ .Release.Namespace }}'

resources:
- input/infrastructure-components.yaml
- resources/ciliumnetworkpolicy_capvcd-controller-manager.yaml
- resources/networkpolicy_capvcd-controller-manager.yaml

transformers:
- patches/common-labels.yaml

patchesStrategicMerge:
- patches/delete-namespace.yaml
- patches/certificate.yaml
- patches/webhook-certificate.yaml
- patches/delete-issuer.yaml
- patches/deployment-resources.yaml
- deployment-restart-policy.yaml

patches:
- path: patches/crd_cainjection.yaml
  target:
    kind: CustomResourceDefinition
    labelSelector: cluster.x-k8s.io/provider=infrastructure-vcd
- path: patches/crd_webhook.yaml
  target:
    kind: CustomResourceDefinition
    labelSelector: cluster.x-k8s.io/provider=infrastructure-vcd
