{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    app.kubernetes.io/name: '{{ .Chart.Name }}'
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
    cluster.x-k8s.io/provider: infrastructure-vsphere
    helm.sh/chart: '{{ .Chart.Name }}'
  name: '{{ $.Release.Name }}'
  namespace: '{{ $.Release.Namespace }}'
spec:
  endpoints:
    - interval: {{ .Values.serviceMonitor.interval }}
      path: /metrics
      scrapeTimeout: {{ .Values.serviceMonitor.scrapeTimeout }}
      targetPort: 8080
  selector:
    matchLabels:
        cluster.x-k8s.io/provider: infrastructure-vcd
        control-plane: controller-manager
{{- end }}
