image:
  name: "gsoci.azurecr.io/giantswarm/cluster-api-provider-cloud-director-vcd"
  tag: "f447f3af"

project:
  branch: ""
  commit: ""

crdInstall:
  enable: true
  kubectl:
    image: "giantswarm/kubectl"
    registry: "gsoci.azurecr.io"
    tag: 1.23.15

ciliumNetworkPolicy:
  enabled: false

resources:
  limits:
    cpu: 1000m
    memory: 2048Mi
  requests:
    cpu: 100m
    memory: 512Mi

skipRDE: true

serviceMonitor:
  enabled: true
  # -- (duration) Prometheus scrape interval.
  interval: "60s"
  # -- (duration) Prometheus scrape timeout.
  scrapeTimeout: "45s"

priorityClass: ""

# Add seccomp to pod security context
podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
containerSecurityContext:
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

global:
  podSecurityStandards:
    enforced: false
